.users-container .title {
    color: black;
    font-size: 14px
}

.users-container .title .users-table .tr {
    background-color: #1877f1;
    text-transform: uppercase;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}